html,body{
	margin:0px;
	height:100%;
}

#map{
	height: 100%;
	width: 100%;
}

#idselecttema {
	font-family: Arial;
	background-color: rgba(0, 45, 68, 0.6);
}

#idselecttema select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#floatingCapas a{
	color: white !important;	
}

input:invalid{
  border: 1px solid red;
  color: red;
}
#floatingCapas{
	display:block;
	position:absolute;
    	top:0px;
    	left:5px;
    	width: 321px;
    	height: 100%;
    	z-index:998;
    	background-color: rgba(0, 45, 68, 0.6) !important;
	/*box-shadow: 3px 3px rgba(0,0,0 ,0.6);*/
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#floatingMostrar{
        display:none;
        position:absolute;
        top:10px;
        left:10px;
        width: 30px;
        height: 30px;
        z-index:998;
        background-color: rgba(0, 45, 68, 0.6) !important;
        /*box-shadow: 3px 3px rgba(0,0,0 ,0.6);*/
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius: 2px;
	text-align: center;
	vertical-align: center;
	line-height: 30px;
}

#floatingInfo{
        display:block;
        position:absolute;
        top:62px;
        right:10px;
        width: 30px;
        height: 30px;
        z-index:998;
        background-color: rgba(0, 45, 68, 0.6);
        /*box-shadow: 3px 3px rgba(0,0,0 ,0.6);*/
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        border-radius: 2px;
	text-align: center;
	/*vertical-align: center;*/
	line-height: 30px;
}

#floatingInfo_desactivado{
	display:block;
        position:absolute;
        top:62px;
        right:10px;
        width: 30px;
        height: 30px;
        z-index:998;
	background-color: rgba(20, 40, 68, 0.4) !important;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        border-radius: 2px;
        text-align: center;
        /*vertical-align: center;*/
        line-height: 30px;
}

#floatingTemas{
	display: block;
	position:absolute;
        top:100px;
        right:10px;
        width: 30px;
        height: 30px;
	z-index:998;
        background-color: rgba(0,45,68,0.6);
        border-radius: 2px;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	text-align: center;
	/*vertical-align: center;*/
	line-height: 30px;
}
#selectTemas{
	position:absolute;
	top:100px;
	right:50px;
	width: 521;
	height: 20px;
	z-index:999;
	background-color: rgba(0,45,68,0.6) !important;
	border-radius: 2px;
	padding:4px;
	font-size:14px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.toggleSettings {
	position: absolute;
	left: 10px;
	top: 14px;
	color: #fff;
	background: #22232d;
	border-radius: 40px;
	text-align: center;
	cursor: pointer;
	z-index: 2;
}

.menu ul li{
	height:28px;
	color: white;
    /*padding:0;
    list-style:none;
    width:100%;
    font-size:12px;
    background:#c1c1c1;*/
    //border: 1px solid rgba(0,0,0,0.8);
}

.menu ul li:hover{
	height:30px;
	color: cyan;
}

/*NO Funciono - 16-12-2019
.menu li a:hover{
	color: blue;
}*/
 
/*.menu li a{
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 1px solid rgba(255,255,255, 0.2);
    background:#3e3f44;
    text-decoration:none;
    color:#FFF;
    text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:10px;
    padding-left:20px;
}
 
.menu li ul li a{
    font-size:14px;
    color:#47689d;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
    
}
 
.menu li a:hover{
    background:#4a6ba2;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
}
 
.menu ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
 
.menu li:hover ul{
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}
 
.menu ul li a{
    background:#fafafa;
}
 
.menu ul li a:hover {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}*/
